.cardComponent {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 800px;
    transition: all 0.3s ease;
}
.cardComponent:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    .cardComponent {
        width: 100%;
    }
}