* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: url('../../public/images/pexels-pixabay-325944.jpg');
    background-size: cover;
    background-position: center bottom;
    display: initial;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.user-list {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    color: white;
}

.user-list h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.user-info {
    color: #fff;
}

.user-label {
    margin-bottom: 10px;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .container {
        padding-top: 20px;
    }

    .user-list {
        padding: 10px;
    }

    .user-label {
        font-size: 16px;
    }
}
